@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h2, h3{
    text-align: center;
    color: #a24b4b;
    margin-top: 20px;
    margin-bottom: 10px;
}

h4{
    text-align:left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

h5{
    font-style: italic;
    margin-bottom: 10px;
}

p{
    margin: 10px 20px;
    text-indent: 30px;
    line-height: 1.4;
}

.cabecalho {
    background-color: rgb(213,216,179);
    padding: 10px 0;
    width:100%;      
}

.caixa {
    width:100%;
    position: relative;
    margin:0 ;
 }

.logo {
    padding-left: 20px;
    padding-top: 10px;
}

.hmenu {
    position: absolute;
    top: 50px;
    font-size: 14px;
    right: 20px;
}

.hmenu ul li{
    display: inline;
    margin: 0 0 0 15px;
}
 
.hmenu ul li a{
    color: #a24b4b;
    text-decoration: nome;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 10px;
}

.hmenu ul li a:hover{
    color: rgb(224, 134, 30);
    border-bottom: 1px solid rgb(224, 134, 30);
}


.texto_centro{
 text-align:center;
}

.img_a_esquerda{
    float: left;
    margin-left:5px;
    margin-right: 20px;
}

.frame {
    background-color: aliceblue;
    border: none;
    width: 100%;
    height: 500px;
    position: relative;
    bottom: 50;
}

.artigo_em_destaque{
    background-color: rgb(228, 168, 91);
    border-style:dashed;
    border-color:coral;
}

#audio_marcospontes{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img_centro{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
} 

.legenda_centro{
    font-style:italic;
    font-size: small;
    text-align: center;
}

.rodape{
    height: 45px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: antiquewhite;
    font-size: small;
}

.parag-rodape{
    line-height: 0.8;
}

